<h2 class="ui dividing header">
  Examples
</h2>

<div class="ui segment" style="margin: 10px 0; width:100%;">
  <img src="http://semantic-ui.com/images/wireframe/short-paragraph.png" alt=""><br>
  <img src="http://semantic-ui.com/images/wireframe/short-paragraph.png" alt="">
  <lsu-loader [active]="activeLoader" [loaderText]="loaderText" [loaderSize]="loaderSize"></lsu-loader>
</div>

<h2 class="ui dividing header">
  Operate
</h2>
<div class="ui button" (click)="toggle()">{{ activeLoader ? 'Hidden':'Show' }} Loader</div>&nbsp;&nbsp;&nbsp;&nbsp; Loader Size:
<div class="ui buttons">
  <button class="ui icon button" [class.active]="loaderSize == 'mini'" (click)="setSize('mini')">
    Mini
  </button>
  <button class="ui icon button" [class.active]="loaderSize == 'small'" (click)="setSize('small')">
    Small
  </button>
  <button class="ui icon button" [class.active]="loaderSize == 'medium'" (click)="setSize('medium')">
    Medium
  </button>
  <button class="ui icon button" [class.active]="loaderSize == 'large'" (click)="setSize('large')">
    Large
  </button>
</div>&nbsp;&nbsp;&nbsp;&nbsp; Loader Text:
<div class="ui input">
  <input type="text" placeholder="Loader text..." [(ngModel)]="loaderText" maxlength="20">
</div>

<h2 class="ui dividing header">
  Options
</h2>
<ul>
  <li><strong>active:</strong>&nbsp;&nbsp;Optional. Type of boolean. Show or hidden loader. Default is <strong style="color:tomato">false</strong></li>
  <li><strong>loaderText:</strong>&nbsp;&nbsp;Optional. Type of string. </li>
  <li><strong>loaderSize:</strong>&nbsp;&nbsp;Optional. Type of string. <strong style="color:tomato">[mini | small | medium | large]</strong></li>
</ul>

<h2 class="ui dividing header">
  Codes
</h2>
<lsu-tabset [type]="'secondary'">
  <lsu-tab [headerText]="'loader_example.html'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'html'">
<textarea>
<div class="ui segment" style="margin: 10px 0; width:100%;">
  <lsu-loader [active]="activeLoader" [loaderText]="loaderText" [loaderSize]="loaderSize"></lsu-loader>
</div>
</textarea></code>
</pre>
  </lsu-tab>
  <lsu-tab [headerText]="'loader_example.ts'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'typescript'">
<textarea>
import { Component } from '@angular/core';
import { LOADER_DIRECTIVES } from 'angular2-semantic-ui/angular2-semantic-ui'

@Component({
  selector: 'loader-example',
  directives: [LOADER_DIRECTIVES],
  template: require('./loader.html')
})

export class LoaderExample {
  private activeLoader: boolean;
  private loaderSize: string = "medium";
  private loaderText: string;
  constructor() {
  }

  ngOnInit() {
    this.activeLoader = true;
  }

  toggle(): void {
    this.activeLoader = !this.activeLoader;
  }

  setSize(size: string): void {
    this.loaderSize = size;
  }
}
</textarea></code>
</pre>
  </lsu-tab>
</lsu-tabset>