<h2 class="ui dividing header">
  Example
</h2>
<button type="button" class="ui button" lsu-popup [trigger]="'click'" [content]="'Popup On Click.'">
    Click to show popup
</button>
<button type="button" class="ui teal button" lsu-popup [trigger]="'hover'" [content]="'Popup On Hover.'">
    Hover to show popup
</button>
<div class="ui input">
  <input type="text" placeholder="Search..." lsu-popup [trigger]="'focus'" [content]="'Popup On Focus'">
</div>

<h2 class="ui dividing header">
  Options
</h2>
<ul>
  <li><strong>trigger:</strong>&nbsp;&nbsp;Optional.The way to trigger Popup [ hover | click | docus], Default is <strong style="color: tomato">hover</strong></li>
  <li><strong>content:</strong>&nbsp;&nbsp;Optional.Popup text</li>
</ul>

<h2 class="ui dividing header">
  Codes
</h2>
<lsu-tabset [type]="'secondary'">
  <lsu-tab [headerText]="'popup_example.html'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'html'">
<textarea>
<button type="button" class="ui button" lsu-popup [trigger]="'click'" [content]="'Popup On Click.'">
    Click to show popup
</button>

<button type="button" class="ui teal button" lsu-popup [trigger]="'hover'" [content]="'Popup On Hover.'">
    Hover to show popup
</button>

<div class="ui input">
  <input type="text" placeholder="Search..." lsu-popup [trigger]="'focus'" [content]="'Popup On Focus'">
</div>
</textarea></code>
</pre>
  </lsu-tab>
  <lsu-tab [headerText]="'popup_example.ts'" [useSegment]="false">
<pre><code lsu-codeblock [language]="'typescript'">
  <textarea>
import { Component } from '@angular/core';
import { POPUP_DIRECTIVES } from 'angular2-semantic-ui/angular2-semantic-ui'

@Component({
  selector: 'popup-example',
  directives: [POPUP_DIRECTIVES],
  template: require('./popup.html')
})

export class PopupExample {
  constructor() {
  }
}
  </textarea>
</code></pre>
  </lsu-tab>
</lsu-tabset>