<lsu-modal [(ngModel)]="showModal" [options]="modalOptions">
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated
        with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button" (click)="cancel()">
      Nope
    </div>
    <div class="ui positive right labeled icon button" (click)="cancel()">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</lsu-modal>
<div class="ui header">
  Type
</div>
<hr>
<div class="ui buttons">
  <button class="ui button" [class.active]="modalOptions.type == 'basic'" (click)="setType('basic')">Basic</button>
  <button class="ui button" [class.active]="modalOptions.type == 'default'" (click)="setType('default')">Default</button>
</div>

<div class="ui header">Size</div>
<hr>
<div class="ui buttons">
  <button class="ui icon button" [class.active]="modalOptions.size == 'small'" (click)="setSize('small')">
    Small
  </button>
  <button class="ui icon button" [class.active]="modalOptions.size == 'large'" (click)="setSize('large')">
    Large
  </button>
  <button class="ui icon button" [class.active]="modalOptions.size == 'fullscreen'" (click)="setSize('fullscreen')">
    Fullscreen
  </button>
</div>