<h2 class="ui dividing header">
  angular2-semantic-ui
  <span class="ui teal label">No jQuery dependency</span>  
</h2>
<a href="https://david-dm.org/lon-yang/angular2-semantic-ui">
  <img src="https://david-dm.org/lon-yang/angular2-semantic-ui.svg" alt="">
</a>
<a href="https://badge.fury.io/js/angular2-semantic-ui">
  <img src="https://badge.fury.io/js/angular2-semantic-ui.svg" alt="">
</a>
<a href="https://badge.fury.io/js/angular2-semantic-ui">
  <img src="https://img.shields.io/npm/dt/angular2-semantic-ui.svg" alt="">
</a>

<h2 class="ui dividing header">Introduction</h2> Angular2 Components for <a href="http://semantic-ui.com/" target="_blank">Semantic UI</a>.


<h2 class="ui dividing header">Install</h2>
<pre><code lsu-codeblock [language]="'bash'">
npm install angular2-semantic-ui --save
</code>
</pre>

<h2 class="ui dividing header">Usage</h2>
<pre><code lsu-codeblock [language]="'typescript'">
import { SEMANTIC_UI_COMPONENTS } from 'angular2-semantic-ui/angular2-semantic-ui';
</code>
</pre>

<h2 class="ui dividing header">Change Log</h2>
<ui>
  <li>2016-06-02 Add Pagination Component</li>
  <li>2016-06-03 Fix bug</li>
  <li>2016-06-10 Dropdown support multiple</li>
  <li>2016-06-11 Fix tabset component's bug</li>
</ui>

<h2 class="ui dividing header">Mail</h2>
<a href="mailto:dove2580@live.com">dove2580@live.com</a>