<h2>angular2-semantic-ui</h2>
<hr>
<a href="https://david-dm.org/lon-yang/angular2-semantic-ui">
  <img src="https://david-dm.org/lon-yang/angular2-semantic-ui.svg" alt="">
</a>
<a href="https://badge.fury.io/js/angular2-semantic-ui">
  <img src="https://badge.fury.io/js/angular2-semantic-ui.svg" alt="">
</a>

<h3>Introduction</h3> This is angular2 components for <a href="http://semantic-ui.com/" target="_blank">semantic-ui.</a>

<h3>Install</h3>
<link rel='stylesheet' type='text/css' href='http://tools.oschina.net/js/syntaxhighlighter_3.0.83/styles/shCoreDefault.css'
/>
<div id="highlighter_942245" class="syntaxhighlighter  js">
  <div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div>
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="gutter">
          <div class="line number1 index0 alt2">1</div>
        </td>
        <td class="code">
          <div class="container">
            <div class="line number1 index0 alt2"><code class="js plain">npm&nbsp;install&nbsp;angular2-semantic-ui&nbsp;--save</code></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Usage</h3>
<link rel='stylesheet' type='text/css' href='http://tools.oschina.net/js/syntaxhighlighter_3.0.83/styles/shCoreDefault.css'
/>
<div id="highlighter_959999" class="syntaxhighlighter  js">
  <div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div>
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="gutter">
          <div class="line number1 index0 alt2">1</div>
        </td>
        <td class="code">
          <div class="container">
            <div class="line number1 index0 alt2"><code class="js plain">import&nbsp;{&nbsp;SEMANTIC_UI_COMPONENTS&nbsp;}&nbsp;from&nbsp;</code><code class="js string">'angular2-semantic-ui/angular2-semantic-ui';</code>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>