<h2 class="ui dividing header">
  Examples
</h2>

<div class="ui segment" style="margin: 10px 0; width:100%;">
  <img src="http://semantic-ui.com/images/wireframe/short-paragraph.png" alt=""><br>
  <img src="http://semantic-ui.com/images/wireframe/short-paragraph.png" alt="">  
  <lsu-dimmer [active]="activeDimmer">
    <h2>I'm Dimmer</h2>
  </lsu-dimmer>
</div>

<h2 class="ui dividing header">
  Operate
</h2>
<div class="ui button" (click)="toggle()">{{ activeDimmer ? 'Hidden':'Show' }} Dimmer</div>

<h2 class="ui dividing header">
  Codes
</h2>
<lsu-tabset [type]="'secondary'">
  <lsu-tab [headerText]="'dimmer_example.html'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'html'">
<textarea>
<div class="ui segment" style="margin: 10px 0; width:100%;">
  <!-- your page content -->
  <lsu-dimmer [active]="activeDimmer">
    <!-- Custom dimmer content -->
    <h2>I'm Dimmer</h2>
  </lsu-dimmer>
</div>
<div class="ui button" (click)="toggle()">{{ activeDimmer ? 'Hidden':'Show' }} Dimmer</div>
</textarea></code>
</pre>
  </lsu-tab>
  <lsu-tab [headerText]="'dimmer_example.ts'" [useSegment]="false">
<pre><code lsu-codeblock [language]="'typescript'">
  <textarea>
import { Component } from '@angular/core';
import { DIMMER_DIRECTIVES } from 'angular2-semantic-ui/angular2-semantic-ui'

@Component({
  selector: 'dimmer-example',
  directives: [DIMMER_DIRECTIVES],
  template: require('./dimmer.html')
})

export class DimmerExample {
  private activeDimmer: boolean;
  constructor() {
  }

  ngOnInit() {
    this.activeDimmer = true;
  }

  toggle(): void {
    this.activeDimmer = !this.activeDimmer;
  }
}
  </textarea>
</code></pre>
  </lsu-tab>
</lsu-tabset>