<h2 class="ui dividing header">
  Example
</h2>
<lsu-checkbox [(ngModel)]="isChecked" [disabled]="true" [label]="'Check Box(Disabled)'" [type]="'checkbox'"></lsu-checkbox>&nbsp;&nbsp;
<lsu-checkbox [(ngModel)]="isChecked1" [disabled]="false" [label]="'Check Box(type:checkbox)'" [type]="'checkbox'"></lsu-checkbox>&nbsp;&nbsp;
<lsu-checkbox [(ngModel)]="isChecked2" [disabled]="false" [label]="'Check Box(type:slider)'" [type]="'slider'"></lsu-checkbox>&nbsp;&nbsp;
<lsu-checkbox [(ngModel)]="isChecked3" [disabled]="false" [label]="'Check Box(type:toggle)'" [type]="'toggle'"></lsu-checkbox>

<h2 class="ui dviding header">
  Codes
</h2>
<lsu-tabset [type]="'secondary'">
  <lsu-tab [headerText]="'checkbox_example.html'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'html'">
<textarea>
<lsu-checkbox [(ngModel)]="isChecked" [disabled]="true" [label]="'Check Box(Disabled)'" [type]="'checkbox'"></lsu-checkbox>
<lsu-checkbox [(ngModel)]="isChecked1" [disabled]="false" [label]="'Check Box(type:checkbox)'" [type]="'checkbox'"></lsu-checkbox>
<lsu-checkbox [(ngModel)]="isChecked2" [disabled]="false" [label]="'Check Box(type:slider)'" [type]="'slider'"></lsu-checkbox>
<lsu-checkbox [(ngModel)]="isChecked3" [disabled]="false" [label]="'Check Box(type:toggle)'" [type]="'toggle'"></lsu-checkbox>
</textarea></code>
</pre>
  </lsu-tab>
  <lsu-tab [headerText]="'checkbox_example.ts'" [useSegment]="false">
<pre><code lsu-codeblock [language]="'typescript'">
  <textarea>
import { Component } from '@angular/core';
import { CHECKBOX_DIRECTIVES } from 'angular2-semantic-ui/angular2-semantic-ui';

@Component({
  selector: 'checkbox-example',
  directives: [CHECKBOX_DIRECTIVES],
  template: require('./checkbox.html')
})

export class CheckBoxExample {
  private isChecked: boolean = true;
  constructor() {

  }

  ngOnInit() {
    this.isChecked = false;
  }
}
  </textarea>
</code></pre>
  </lsu-tab>
</lsu-tabset>