<h2 class="ui dividing header">
  Example
</h2>
<lsu-tabset [type]="type">
  <lsu-tab [headerText]="item.title" *ngFor="let item of datas">
    <p style="padding: 20px 10px;">{{item.content}}</p>
  </lsu-tab>
</lsu-tabset>

<h2 class="ui dividing header">
  Operate
</h2> Type:
<div class="ui buttons">
  <button class="ui icon button" [class.active]="type == 'tabular'" (click)="setType('tabular')">
    Tabular
  </button>
  <button class="ui icon button" [class.active]="type == 'secondary'" (click)="setType('secondary')">
    Secondary
  </button>
  <button class="ui icon button" [class.active]="type == 'pointing'" (click)="setType('pointing')">
    Pointing
  </button>
</div>

<h2 class="ui dividing header">
  Codes
</h2>
<lsu-tabset [type]="'secondary'">
  <lsu-tab [headerText]="'tab_example.html'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'html'">
<textarea>
<lsu-tabset [type]="type">
  <lsu-tab [headerText]="item.title" *ngFor="let item of datas">
    <p style="padding: 20px 10px;">(<(item.content)>)</p>
  </lsu-tab>
</lsu-tabset>
</textarea></code>
</pre>
  </lsu-tab>
  <lsu-tab [headerText]="'tab_example.ts'" [useSegment]="false">
    <pre><code lsu-codeblock [language]="'typescript'">
  <textarea>
import { Component } from '@angular/core';
import { TAB_DIRECTIVES } from 'angular2-semantic-ui/angular2-semantic-ui'

@Component({
  selector: 'tab-example',
  directives: [TAB_DIRECTIVES],
  template: require('./tab.html')
})

export class TabExample {
  private datas: Array<any> = [];
  private type: string = 'tabular';
  constructor() {
  }

  ngOnInit() {
    this.datas = [
      {
        title: 'First',
        content: 'A dog is a type of domesticated animal. Known for its loyalty and faithfulness, 
                  it can be found as a welcome guest in many households across the world.',
        active: false
      }, {
        title: 'Second',
        content: 'There are many breeds of dogs. Each breed varies in size and temperament. 
                  Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires 
                  from a companion.',
        active: true
      }, {
        title: 'Third',
        content: 'Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.',
        active: false
      }
    ]
  }

  private setType(type: string) {
    this.type = type;
  }
}
  </textarea>
</code></pre>
  </lsu-tab>
</lsu-tabset>